<h1>Admin::Items#show</h1>

 <h4>商品名</h4>
  <%= @item.name %>
 <h4>商品説明文</h4>
  <%= @item.introduction %>
 <h4>画像</h4>
  <%= image_tag @item.image, size: "300x300" %>
 <h4>価格</h4>
  <%= @item.price %>円

 <p><%= link_to '編集', edit_admin_item_path(@item.id) %></p>

 <p><%= link_to '商品一覧', admin_items_path %></p>