<h1><%= link_to 'マイページ', customers_my_page_path %></h1>
<li><%= link_to '注文履歴一覧へ', orders_path %></li>
<li><%= link_to '編集する', edit_customer_path(current_customer) %></li>
<h2>登録情報</h2>
<h3>氏名</h3>
<%= current_customer.last_name %> <%= current_customer.first_name %>
<h3>カナ</h3>
<%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %>
<h3>郵便番号</h3>
<%= current_customer.postal_code %>
<h3>住所</h3>
<%= current_customer.address %>
<h3>電話番号</h3>
<%= current_customer.telephone_number %>
<h3>メールアドレス</h3>
<%= current_customer.email %>

<br><%= link_to "配送先一覧画面", adresses_path %>
