
<%#<%= link_to "カートを空にする", destroy_all_cart_items_path,method: :delete %>
<h2>カート内商品</h2>
<% @items.each do |item| %>
<table class="table table-striped">
 <td>商品名<%= link_to item.name, item_path(item.id) %></td>
 <td>商品説明文<%= item.introduction %></td>
 <% end %>
</table>

<% @cart_items.each do |cart_item| %>
<%= cart_item.amount %>

<% end %>
<br>
<%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %>
<h2>カート内商品</h2>
<% @items.zip(@cart_items) do |item,cart_item| %>
 <p>商品名<%= link_to item.name, item_path(item.id) %>
 <%= cart_item.amount %></p>
 <% end %>



<p>単価(税込)</p>
<p>小計</p>
<%# @cart_items.each do |cart_item| %>
<%#<%= cart_item.with_tax_price %>
<%#<%= cart_item.subtotal %>
<%#<% @合計金額 +=  cart_item.subtotal %>
<%#<% end %>
<%= link_to "注文画面へ", new_order_path %>
