<p>商品詳細</p>
<%= @item.name %> <%= @item.introduction %><%= image_tag @item.image, size: "100x100" %>
<%= @item.price %>円

<%= form_with model: CartItem.new,local:true do |f| %>
<%= f.select :amount, *[1..3] %>
<%= f.hidden_field :item_id, :value =>@item.id  %>
<%= f.submit 'カートに入れる' %>
<% end %>